body.tworgies_index input[type=text] {
  width: 150px; }
body.tworgies_index #columns #createTworgy {
  float: left;
  width: 200px; }
  body.tworgies_index #columns #createTworgy h2 {
    font-size: 1em;
    font-family: 'tahoma'; }
