body.tworgies_index #columns #createTworgy {
  float: left;
  width: 200px; }
  body.tworgies_index #columns #createTworgy h2 {
    font-size: 1em;
    font-family: 'tahoma'; }
body.tworgies_index #columns .clickable {
  color: blue;
  text-decoration: underline; }
body.tworgies_index #columns #finishingOffAddingMarker {
  display: none; }
body.tworgies_index .ui-dialog input[type=text] {
  width: 50px; }
