- content_for(:heading, "Log in")

= error_messages_for(:user_session)

- semantic_form_for @user_session, :url => user_session_path do |f|
  = f.text_field :email
  = f.password_field :password
  - f.buttons do |b|
    = f.commit_button :label => 'Log in'

